h1, h2, h3, h4, h5 {
   color: $dk-purple;
   font-weight: bold;
   a:link, a:visited {
     color: $dk-purple;
   }
}


h1 {
   font-size: 200%;
}

h2 {
   font-size: 150%;
}

p, h1, h2, h3, h4, h5 ul {
    margin: 1em 0;
}

dd {
  margin-left: 2em;
}

a:link, a:visited {
  color: $purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: square;
  margin-left: 1.5em;
}

ol {
  list-style: decimal;
  margin-left: 1.5em;
}

pre {
  font-size: 90%;
  font-family: $code-font;
}

code {
  font-family: $code-font;
}

span.credit {
  color: #808080;
  font-size: 80%;
}

hr {
  border-style: dotted none none none;
  border-top-width: thin;
  margin: 10px 15px;
}


blockquote {
  /* margin-left: 3em; */
  border-left: 2px solid grey;
  padding-left: 1em;
  font-style: italic;
  color: $dk-purple;
}

.shares {
  .label {
    margin-right: 1em;
    color: $tw-green3;    
  }
  .icons {
    float: left;
    width: 40%;
  }
  .comment {
    font-size: 80%;
    color: $tw-green3;
    float: left;
    width: 60%;
    margin-top: 0;
  }
  img {
    height: 16px;
    margin-right: 10px;
  }
}
