@import 'reset';
@import 'framing';

/* 

==== global ================

  need to refactor this as global is really just for articles etc 
  in particular refactor this so the guide pages can use a useful common
  subset of styles
*/




body {
  font-size: 16px;
  font-family: $sans;
  line-height: $default-line-height;

  color: $text-gray;
}


#content {
  background-color: white;
  min-height: 500px;
  @import 'content';
  @include top-level-placement;
}


.error {
  background-color: rgba(253, 147, 151, 0.34);
}

.todo {
  background-color: rgba(255, 255, 0, 0.3);
}

.draft-notice { 
	border: thin solid red; 
	font-family: sans-serif; 
	margin: 1em 10%; 
	padding: 0.5em;
  text-align: center;

  h1 {font-size: 120%; color: black;}
  p {color: red}
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}




/* ................................................................ */
