@import 'reset';
@import 'framing';

/* 

==== global ================

  need to refactor this as global is really just for articles etc 
  in particular refactor this so the guide pages can use a useful common
  subset of styles
*/



body {
  font-size: 16px;
  font-family: $sans;
  line-height: $default-line-height;

  color: $text-gray;
}


#content {
  background-color: white;
  width: 40em;
  min-height: 500px;
  @import 'content'
}


.error {
  background-color: rgba(253, 147, 151, 0.34);
}

.todo {
  background-color: rgba(255, 255, 0, 0.3);
}

.draft-notice { 
	border: thin solid red; 
	font-family: sans-serif; 
	margin: 1em 10%; 
	padding: 0.5em;
  text-align: center;

  h1 {font-size: 120%; color: black;}
  p {color: red}
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

@mixin sidebar-offset {
  width: 20em;
  float: right;
  margin: 1em -15em 1em 2em;
}



@mixin tag-button {
  background: $tw-green3;
  color: white;
  font-family: $sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  white-space: nowrap;
  &:hover {
    background: $tw-green2;
  }
}

@mixin span-button {
  color: darken($light-gray-background, 60%);
  font-family: $sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  white-space: nowrap;
  background: linear-gradient($light-gray-background, darken($light-gray-background, 30%));
  cursor: pointer;
  border: thin solid black;

  &:hover {
    background: $light-gray-background;
  }
}


/* ................................................................ */
