@import 'lib/infodeck/infodeck.scss';

span.highlight {
  background-color: yellow;
}

path.comms {
  stroke:#e936ff;
  stroke-width:3;
}

svg.build1 path.comms {
  stroke: blue;
}

span.highlight-red {
  color: red;
}

